.navbar {
    margin: 16px 0;
    display: flex;
    flex-wrap: wrap;

    &--flex {
        flex-direction: column;
    }
}

.navbar__item {
    margin: 8px 16px 8px 0;
    font-size: 16px;
    line-height: 16px;
    font-weight: 300;
    color: #0a0e12;
    white-space: nowrap;
    text-decoration: underline;

    &:last-child {
        margin-right: 0;
    }
}