.pn-title {
    font-size: 44px;
    line-height: 60px;
    color: #0a0e12;
    text-align: center;
}

.pn-subtitle {
    margin: 16px 0;
    color: #0a0e12;
    font-size: 36px;
    line-height: 48px;
    text-align: left;
}

.pn-section-title {
    margin: 16px 0;
    color: #0a0e12;
    font-weight: 300;
    font-size: 28px;
    line-height: 40px;
    text-align: left;
}